@import url('../../../main.css');


.members-detail-icon {
    background-color: var(--light-bg);
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.member-info-details__container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

}

.update-membership__btn {
    padding: 10px 1rem;
    font-family: inherit;
    border: none;
    border-radius: 10px;
    background-color: var(--text-green);
    color: var(--light-bg);
    cursor: pointer;
    transition: all 0.2s ease;
}

.member-info-details {
    margin-top: 10px;
    padding: 10px 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

.member-name-email {
    display: flex;
    flex-direction: column
}

.member-details a {
    border-radius: 10px;
    color: var(--dark-gray);
    text-decoration: none;
    background-color: transparent;
    width: 200px;
    padding: 5px;
    height: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.member-details a:hover {
    background-color: rgba(197, 197, 197, 0.2);
    gap: 15px;
}



.member-name {
    font-size: 25px;
    font-weight: 500;
}

.member-email {
    font-size: 15px;
    font-weight: 300;
    opacity: 0.8;
}