@import url('../../main.css');


.member-gym {
    position: relative;
    padding: 10px 1rem;
    overflow: hidden;
    width: 100%;
}

.member-gym h1 {
    font-weight: 600;
    font-size: 2rem;
}

.rewards-header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rewards-header span {
    color: grey;
    font-size: 15px;
}

.member-points {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.current-points {
    font-size: 1.5rem;
    font-weight: 700;
}

.current-points i {
    color: orange;
}


.member-rewards__nav {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
}

.member-rewards__nav a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
}

.active-gym-link {
    background-color: var(--text-green);
    color: var(--light-bg);
    border: none;
}

.inactive-gym-link {
    border: 1px solid var(--dark-bg-);
    color: var(--dark-bg-);
}










@media (max-width: 670px) {}