@import url('../../main.css');

.charts {
    background-color: var(--main-green);
    padding: 10px 1rem;
    border-radius: 10px;
    grid-area: 2 / 1 / 4 / 3;
    box-shadow: 1px 1px 10px 1px #c9c7c7;
}
