@import url('../../main.css');


.data-table{
    height: 85%;
}
.data-table-grid {
    padding: 10px;
    background-color: var(--light-bg);
    

}

.MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
}

.MuiDataGrid-root{
    overflow-y: visible;
}