@import url('../../main.css');


.notifications {
    position: relative;
    display: inline;
}

.notif {
    position: absolute;
    top: -5px;
    left: 10px;
    background-color: red;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}



.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px;
    gap: 1rem;
}

.main-menu,
.settings {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

}

.main-menu {
    margin-bottom: 1rem;
}

.active-link {
    transform: translateX(10px);
    background-color: #dddddd;
    border-radius: 10px;
    color: #fff;
}


.category__span {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
}

.menu a {
    color: var(--dark-bg-);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    transition: all .2s;
    padding: 10px 15px;
    margin-right: 1rem;
}

.menu span {
    padding: 0;
}


.menu a:hover {
    transform: translateX(10px);

}


.menu a span {
    font-size: 15px;
    font-weight: 400;
}

.log-out {
    background-color: var(--red-clr);
    border-radius: 20px;

}


.log-out i,
.log-out span {
    color: var(--light-bg);
}


@media (max-width: 1200px) {
    .active-link {
        transform: translateX(10px);
        background-color: #e9e9e9;
        border-radius: 10px
    }

    .main-menu span,
    .settings span {
        font-size: 12px;
    }
}