@import url('../../main.css');

.home,
.home-main {
    background-color: var(--dark-bg-);
    color: var(--light-bg);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}



.home-main {
    margin: 0 10%;
}


@media (max-width: 400px) {

    .home-main {
        margin: 0 5%;
    }
}