@import url('../../../main.css');


.membership-option-modal {
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 2rem 1rem;
    font-family: "Poppins", sans-serif;
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--dark-gray);
}

.membership-option__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.membership-option__header h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.membership-option__header span {
    font-size: 13px;
    color: var(--dark-gray);
}

.membership-option-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.membership-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}



.day-pass,
.full-membership {
    border: 1px solid rgba(17, 17, 17, 0.2);
    padding: 10px 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
}

.day-pass:hover,
.full-membership:hover {
    transform: scale(1.02);
}

.day-pass:hover {
    border-color: #f36410;
}

.full-membership:hover {
    border-color: var(--main-lightgreen);
}

.day-pass .membership-option-icon {

    padding: 10px;
    border-radius: 50px;
    background-color: #fff0d7;
}

.day-pass .membership-option-icon i {
    font-size: 2rem;
    color: #f36410;
}

.full-membership .membership-option-icon {
    padding: 10px;
    border-radius: 50px;
    background-color: var(--transparent-green);
}

.full-membership .membership-option-icon i {
    font-size: 2rem;
    color: var(--main-lightgreen);
}

.membership-option__content {
    margin-top: 1rem;
}

.membership-option__content h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.membership-option__content span {
    font-size: 12px;
    color: var(--dark-gray);
}