@import url('../../main.css');


.gym {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: var(--light-bg); */
    border-radius: 10px;
    overflow: hidden;
}

.gym-container {
    margin-top: 1rem;
    position: relative;
    height: 63%;
    width: 100%;
    /* padding: 10px; */
}