@import url('../../main.css');


.member-details {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;

}


.member-bg-overlay {
    width: 100%;
    height: 100px;
    padding: 15px 0px;
    position: relative;
    background-color: var(--text-green);
    z-index: 1000;
    border-radius: 10px;
    margin-bottom: 1rem;
}


.members-detail-icon {
    background-color: var(--light-bg);
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.member-info-details__container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

}

.update-membership__btn{
    padding: 10px 1rem;
    font-family: inherit;
    border: none;
    border-radius: 10px;
    background-color: var(--text-green);
    color: var(--light-bg);
    cursor: pointer;
    transition: all 0.2s ease;
}

.member-info-details{
    display: flex;
    gap: 10px;
    align-items: center;
}

.member-name-email {
    display: flex;
    flex-direction: column
}

.member-details a {
    border-radius: 10px;
    text-decoration: none;
    color: var(--light-bg);
    background-color: transparent;
    width: 200px;
    margin-left: 5px;
    padding: 5px;
    height: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.member-details a:hover {
    background-color: rgba(197, 197, 197, 0.2);
    gap: 15px;
}

.member-details__container {
    padding: 1rem;
}

.membership-info__container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.member-name {
    font-size: 25px;
    font-weight: 500;
}

.member-email {
    font-size: 15px;
    font-weight: 300;
    opacity: 0.8;
}

.member-info {
    display: flex;
    flex-direction: column;
}

.membership-info {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
    align-items: center;

}

.membership-info-items {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(17, 17, 17, 0.5);
    padding-right: 10px;

}

.membership-info-items .opacity {
    opacity: 0.6;
    font-size: 1rem;

}

.membership-date {
    font-size: 30px;

    font-weight: 600;
}

.opacity {
    opacity: 0.7;
}