@import url('../../main.css');


.users {
    position: relative;
    height: 100%;
}

.info {
    margin: 10px 0;
}

.info button {
    background-color: var(--text-green);
    font-size: 1rem;
    font-weight: 700;
    color: var(--light-bg);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-family: inherit;
}

.info button:hover{
    background-color: rgb(5, 146, 5);
}


.active-status {
    color: var(--main-lightgreen);
}

.inactive-status {
    color: var(--red-clr);
}

.members-icon {
    color: rgb(173, 173, 173);
    width: 30px;
    height: 30px;
    margin: 10px 0;
}
.actions{
    display: flex;
    justify-content: space-around;
}

.actions button,
.actions a {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.view {
    color: var(--blue-clr);
}

.delete {
    color: var(--red-clr);
}