@import url('../../main.css');

.notifications__section {
    background-color: #FFEAE5;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.no-notification__section {
    text-align: center;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-notification h4 {
    font-weight: 400;
}

.no-notification span {
    font-size: 12px;
}

.no-notification i {
    font-size: 200px;
    margin-bottom: 2rem;
}